<%=# @Comment - If you ever want to change something on all of your pages %>
<%=# such as adding a logo or nav bar - this layout file is the place to do it.%>

<!DOCTYPE html>
<html>
  <head>
    <title>RailsRecordStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=# @Comment - Place a `content_for(:navbar) before yield%>

    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <%= yield %>

    <%=# @Comment - Place a `content_for(:footer) after yield%>
  </body>
</html>
